#Database
node_database="127.0.0.1"
replication_factor="1"

#Encrypt algorithm
secret_word ='marcos santos'

#Cache
redis_host='127.0.0.1'
redis_port='6379'
redis_max_connections='1000' 

#Domain
domain_host = '127.0.0.1'
domain_port = '3030'